<h1>List of albums</h1>

<%= link_to "Create a New Album", new_admin_album_path %>

<ul>
  <% @albums.each do |album| %>
    <li>
      <%= link_to album.title, admin_album_path(album) %>
    </li>
  <% end %>
</ul>

