<h2>List of artists</h2>

<div class="grid">
  <% @artists.each do |artist| %>
    <div>
      <%= link_to artist.name, artist_path(artist) %>
      <div>
        <% if artist.cover.attached? %>
          <%= image_tag artist.cover.variant(resize: "300x200") %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
