<h1><%= @album.title %></h1>

<div>
  <% if @album.cover.attached? %>
    <img src="<%= url_for(@album.cover) %>" width="500" />
  <% end %>
</div>

<h3>Songs</h3>
<ul>
  <% if @album.songs.any? %>
    <% @album.songs.each do |song| %>
      <li>
        <%= link_to song.title, admin_song_path(song) %>
      </li>
    <% end %>
  <% else %>
    <li>There are not songs</li>
  <% end %>
</ul>

<%= link_to 'Back', albums_path %>
